language: python

before_install:
 - sudo apt-get install -y python-virtualenv
 - virtualenv planemo-venv
 - . planemo-venv/bin/activate
 - pip install --upgrade pip setuptools
 - pip install planemo

script:
 - planemo lint ${TRAVIS_BUILD_DIR}/tools/sirius_csifingerid && planemo test --conda_auto_init --conda_auto_install --conda_dependency_resolution --galaxy_branch release_17.09 --no_cache_galaxy --conda_ensure_channels tomnl,iuc,bioconda,conda-forge,defaults ${TRAVIS_BUILD_DIR}/tools/sirius_csifingerid

